Repository dexidp/dex, pull requests merged in 2020-02, with the labels that each got.

#1648 Update kubelogin-activedirectory.md for credential plugin mode
  Documentation/connectors/kubelogin-activedirectory.md
Labels: kind/documentation

#1659 storage/sql: allow specifying sql flavor specific migrations
  storage/sql/config.go
  storage/sql/migrate.go
  storage/sql/migrate_test.go
  storage/sql/sql.go
Labels: area/storage, kind/bug, kind/enhancement

#1661 Setting email for OpenShift connector
  connector/openshift/openshift.go
  connector/openshift/openshift_test.go
Labels: area/connectors
