Repository dexidp/dex, pull requests merged in 2022-12, with the labels that each got.

#2729 fix: Do not use connector data from the refresh token field
  server/refreshhandlers.go
  server/server_test.go
Labels: kind/enhancement

#2740 Add preferredEmailDomain config option for GitHub connector
  connector/github/github.go
  connector/github/github_test.go
Labels: area/connector, release-note/enhancement

#2765 Update GitHub workflow status
  README.md
Labels: release-note/ignore

#2628 Move unique functionality into getGroups to reduce calls to google
  connector/google/google.go
  connector/google/google_test.go
Labels: area/connector, release-note/enhancement
