Repository dexidp/dex, pull requests merged in 2022-05, with the labels that each got.

#2430 Create setting to allow to trust the system root CAs
  connector/openshift/openshift.go
Labels: area/connector

#2483 Add numeric user ID support for oauth connector
  connector/oauth/oauth.go
  connector/oauth/oauth_test.go
Labels: area/connector

#2511 Remove google specific hd / hosted domain claim config from oidc connector
  connector/oidc/oidc.go
Labels: area/connector

#2516 chore: do not use caching for docker build
  .github/workflows/artifacts.yaml
  .github/workflows/docker.yaml
Labels: area/dx

#2522 OIDC connector: Support cases where there is no id_token when using a refresh_token grant
  connector/oidc/oidc.go
  connector/oidc/oidc_test.go
Labels: area/connector

#2486 feat: add enhancement template
  .github/ISSUE_TEMPLATE/config.yml
  docs/enhancements/README.md
  docs/enhancements/_title-YYYY-MM-DD-#issue.md
Labels: kind/enhancement, area/dx

#2482 feat: enable profiling endpoints
  cmd/dex/config.go
  cmd/dex/serve.go
  examples/config-dev.yaml
Labels: area/dx

#2536 Update go to 1.17.10
  Dockerfile
Labels: kind/enhancement

#2290 correctly handle path escaping for connector IDs
  server/handlers.go
  server/handlers_test.go
  server/server.go
  server/templates.go
Labels: kind/bug
