Repository dexidp/dex, pull requests merged in 2022-10, with the labels that each got.

#2692 fix: refresh token only once for all concurrent requests
  server/refreshhandlers.go
  storage/kubernetes/lock.go
  storage/kubernetes/storage.go
  storage/kubernetes/storage_test.go
Labels: release-note/bug-fix

#2696 Backport #2694 to v2.35.x
  connector/google/google.go
  connector/google/google_test.go
Labels: kind/bug, kind/regression, area/connector

#2695 Make admin email optional when no service account path is configured
  connector/google/google.go
  connector/google/google_test.go
Labels: kind/bug, kind/regression, area/connector

#2698 Backport Go update to v2.35.x
  Dockerfile
Labels: area/dependencies

#2702 Backport #2700 to v2.35.x
  connector/google/google.go
  go.mod
  go.sum
Labels: kind/bug, kind/regression, area/connector

#2700 Only initialize google admin service if necessary
  connector/google/google.go
  go.mod
  go.sum
Labels: kind/bug, kind/regression, area/connector

#2705 fix: Update gomplate version to 3.11.3 fix CVE-2022-27665
  Dockerfile
Labels: release-note/dependency-update

#2706 Backport #2705 to v2.35.x
  Dockerfile
Labels: release-note/dependency-update
